<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- Modal Content -->
        <div class="modal-content">
            <!-- Modal Body -->
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <div class="row title">
                    <img src="" class="imagepreview" style="width: 100%;">
                </div>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <div class="row">
                    <div class="text-right pull-right col-md-12">
                        <a href='' class='btn btn-primary addToCart'>
                            <span class='add2cart'>
                                <i class='glyphicon glyphicon-shopping-cart'> </i> <strong> ADD TO CART </strong>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

